html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgb(212, 207, 207);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

:root {
	--cube-length: 300px;
	--cube-tx-0: -100px;
	--cube-tx-1: 0px;
	--cube-tx-2: 100px;
}

.rubik {
	position: relative;
	transform-style: preserve-3d;
}

.rubik {
	width: var(--cube-length);
	height: var(--cube-length);
	transform: rotate3d(1,1,1,-45deg);
}

.layer-in {
	width: 100%;
	height: 100%;
}

.layer,
.tilegroup {
	transform-style: preserve-3d;
	position: absolute;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
}

.layer {
	display: grid;
	grid-template-rows:    repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	transition: transform 1s;
}

.layer.hiden {
	display: none;
}

.white  { background-color: white; }
.yellow { background-color: yellow; }
.orange { background-color: orange; }
.green  { background-color: green; }
.red    { background-color: red; }
.blue   { background-color: blue; }
.black  { background-color: black; }

.tile {
	border: 5px solid black;
	border-radius: 5px;
}

.tilegroup-1-3,
.tilegroup-3-1,
.tilegroup-3-3 {
	display: grid;
}

.tilegroup-1-3,
.tilegroup-3-3 {
	grid-template-columns: repeat(3, 1fr);
}

.tilegroup-3-1,
.tilegroup-3-3 {
	grid-template-rows: repeat(3, 1fr);
}

.layerX.layer0 {background-color: rgba(90,90,90,0.3); }


/*Rotation X */

.layerX.layer0 { transform: translateX(var(--cube-tx-0)) rotateY(.25turn) }
.layerX.layer1 { transform: translateX(var(--cube-tx-1)) rotateY(.25turn) }
.layerX.layer2 { transform: translateX(var(--cube-tx-2)) rotateY(.25turn) }

.layerX.layer0.rotCw { transform: rotateX(-.25turn) translateX(var(--cube-tx-0)) rotateY(.25turn) }
.layerX.layer1.rotCw { transform: rotateX(-.25turn) translateX(var(--cube-tx-1)) rotateY(.25turn) }
.layerX.layer2.rotCw { transform: rotateX(-.25turn) translateX(var(--cube-tx-2)) rotateY(.25turn) }

.layerX.layer0.rotW { transform: rotateX(.25turn) translateX(var(--cube-tx-0)) rotateY(.25turn) }
.layerX.layer1.rotW { transform: rotateX(.25turn) translateX(var(--cube-tx-1)) rotateY(.25turn) }
.layerX.layer2.rotW { transform: rotateX(.25turn) translateX(var(--cube-tx-2)) rotateY(.25turn) }

.x-up     { transform: translateY(-150px) rotateX(-.25turn) rotateY(.5turn) scaleY(calc(1/3)) }
.x-down   { transform: translateY(150px)  rotateX( .25turn) scaleY(calc(1/3)) }
.x-left   { transform: translateZ(-50px) rotateY(.5turn) }
.x-right  { transform: translateZ(50px) }
.x-front  { transform: translateX(-150px) rotateY(-.25turn) scaleX(calc(1/3)) }
.x-back   { transform: translateX(150px)  rotateY( .25turn) rotateX(.5turn) scaleX(calc(1/3)) }

/*Rotation Y*/
.layerY.layer0 { transform: translateY(var(--cube-tx-0)) rotateX(.25turn) }
.layerY.layer1 { transform: translateY(var(--cube-tx-1)) rotateX(.25turn) }
.layerY.layer2 { transform: translateY(var(--cube-tx-2)) rotateX(.25turn) }

.layerY.layer0.rotW { transform: rotateY(-.25turn) translateY(var(--cube-tx-0)) rotateX(.25turn) }
.layerY.layer1.rotW { transform: rotateY(-.25turn) translateY(var(--cube-tx-1)) rotateX(.25turn) }
.layerY.layer2.rotW { transform: rotateY(-.25turn) translateY(var(--cube-tx-2)) rotateX(.25turn) }

.layerY.layer0.rotCw { transform: rotateY(.25turn) translateY(var(--cube-tx-0)) rotateX(.25turn) }
.layerY.layer1.rotCw { transform: rotateY(.25turn) translateY(var(--cube-tx-1)) rotateX(.25turn) }
.layerY.layer2.rotCw { transform: rotateY(.25turn) translateY(var(--cube-tx-2)) rotateX(.25turn) }

.y-up    { transform: translateZ(50px)  }
.y-down  { transform: translateZ(-50px) rotateX(.5turn) }
.y-left  { transform: translateX(-150px) rotateY(-.25turn) scaleX(calc(1/3)) }
.y-right { transform: translateX(150px)  rotateY( .25turn) rotateX(.5turn) scaleX(calc(1/3)) }
.y-front { transform: translateY(150px)  rotateX( .25turn) scaleY(calc(1/3)) }
.y-back  { transform: translateY(-150px) rotateX(-.25turn) rotateZ(.5turn) scaleY(calc(1/3)) }

/*Rotation X */

.layerZ.layer0 { transform: translateZ(var(--cube-tx-0)) }
.layerZ.layer1 { transform: translateZ(var(--cube-tx-1)) }
.layerZ.layer2 { transform: translateZ(var(--cube-tx-2)) }

.layerZ.layer0.rotCw { transform: rotateZ(-.25turn) translateZ(var(--cube-tx-0)) }
.layerZ.layer1.rotCw { transform: rotateZ(-.25turn) translateZ(var(--cube-tx-1)) }
.layerZ.layer2.rotCw { transform: rotateZ(-.25turn) translateZ(var(--cube-tx-2)) }

.layerZ.layer0.rotW { transform: rotateZ(.25turn) translateZ(var(--cube-tx-0)) }
.layerZ.layer1.rotW { transform: rotateZ(.25turn) translateZ(var(--cube-tx-1)) }
.layerZ.layer2.rotW { transform: rotateZ(.25turn) translateZ(var(--cube-tx-2)) }

.z-up     { transform: translateY(-150px) rotateX(-.25turn) scaleY(calc(1/3)) }
.z-down   { transform: translateY(150px)  rotateX( .25turn) rotateY(.5turn) scaleY(calc(1/3)) }
.z-left   { transform: translateX(-150px) rotateY(-.25turn) rotateZ(.5turn) scaleX(calc(1/3)) }
.z-right  { transform: translateX(150px)  rotateY( .25turn) scaleX(calc(1/3)) }
.z-front  { transform: translateZ(50px) }
.z-back   { transform: translateZ(-50px) rotateY(.5turn) }
